.idea

# Linux AppImage
/app/AppDir
/app/appimage-build

.refena_inspector/

/secrets

# FVM Version Cache
.fvm/
/LocalShare/
/dist/

# Local Android signing keys, passwords, and configuration
/.signing/
